@import "variables";

* {
    box-sizing: border-box;
}

html::-webkit-scrollbar {
    width: 18px;
}

html::-webkit-scrollbar-track {
    background-color: $darkest;
}

html::-webkit-scrollbar-thumb {
    width: 15px;
    background: $light;
}

.App {
    font-family: "Source Sans Pro", sans-serif;
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: $darkest;
}

.usersContainer {
    position: relative;
    background-color: $darker;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;

    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 99;

    header {
        position: relative;
        height: 70px;
        padding: 15px;
        display: flex;
        align-items: center;
        color: white;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;

        h1 {
            padding: 0;
            font-size: 24px;
            margin: 0;
        }
        .flex-1 {
            flex: 1;
        }
        span {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 8px;
            border-radius: 50%;
            transition: all 300ms;

            &:hover {
                background: #fff2;
            }
        }

        .search-input-field {
            position: relative;
            background-color: $darkest;
            font-family: "source sans pro";
            border: none;
            color: white;
            width: 100%;
            padding: 10px;
            outline: none;
            font-size: 16px;
        }

        .searchResult--container {
            position: absolute;
            left: 0;
            right: 0;
            background-color: $darker;
            top: 70px;
            padding: 15px;

            box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;

            animation: fadeInBottom 300ms ease-in-out;
        }
    }

    &::-webkit-scrollbar {
        width: 7px;
    }

    &::-webkit-scrollbar-track {
        background-color: $darker;
    }

    &::-webkit-scrollbar-thumb {
        background: $darkest;
        border-radius: 25px;
    }
}

.messagesContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;

    .header {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
            rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
        background-color: $darker;
        color: white;
        display: flex;
        align-items: center;
        padding: 15px;
        font-size: 20px;
        font-weight: bold;
        height: 70px;

        .ic {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: transparent;
            color: white;
            border: none;
            font-size: 30px;
            width: 40px;
            height: 40px;
            border-radius: 100%;
            position: relative;

            span {
                position: absolute;
                top: 50%;
                left: 50%;

                display: flex;
                align-items: center;
                justify-content: center;
                transform-origin: top left;
            }

            &:hover {
                background: #fff2;
                transition: all 200ms ease;
            }
        }

        .avatar {
            height: 40px;
            width: 40px;
            border-radius: 100%;
            object-fit: cover;
            margin: 0 8px;
        }
    }

    .txtContainer {
        padding: 15px;
        height: calc(100vh - 150px);
        overflow-y: auto;

        &::-webkit-scrollbar {
            width: 7px;
        }

        &::-webkit-scrollbar-track {
            background-color: $darkest;
        }

        &::-webkit-scrollbar-thumb {
            background: $light;
        }
    }

    .messageForm {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        color: $light;
        box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
        background: $primaryDark;

        input[type="text"] {
            flex: 1;
            padding: 15px;
            font-size: 16px;
            color: $light;
            font-family: "Source Sans Pro", sans-serif;
            outline: none;
            background: $darkest;
            border: none;
        }

        button {
            background-color: transparent;
            border: none;
            color: lightblue;
            display: flex;
            align-items: center;
            justify-content: center;

            font-size: 20px;
            padding: 15px;
        }
    }
}

.container {
    display: flex;
    flex-direction: row;
}

.container > div {
    flex: 1;
    overflow-y: auto;
}

.usercard {
    background: transparent;
    border: none;
    outline: none;
    margin: 5px 0;
    display: flex;
    align-items: center;

    &:hover {
        img {
            box-shadow: 0 0 0px 3px $light;
            transition: all 300ms ease;
        }
    }

    img {
        padding: 5px;
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 100%;
    }
}

.msg-container {
    display: flex;
    flex-direction: column;
    overflow: auto;
    align-items: flex-start;
}

.message {
    position: relative;
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    align-items: flex-end;

    img {
        object-fit: cover;
        width: 40px;
        height: 40px;
        border-radius: 100%;
        margin-right: 10px;
    }

    span {
        text-align: left;
        background-color: $primary;
        color: white;
        padding: 10px 15px;
        border-radius: 6px 6px 6px 0;
        font-size: 14px;

        position: relative;

        &::before {
            content: "";
            display: block;
            border-right: 6px solid $primary;
            border-bottom: 4px solid $primary;
            border-top: 7px solid transparent;
            border-left: 5px solid transparent;
            position: absolute;
            left: -5px;
            bottom: 0px;
        }
    }

    &.mine {
        align-self: flex-end;
        flex-direction: row-reverse;

        img {
            margin-left: 10px;
        }

        span {
            border-radius: 5px 5px 0 5px;
            color: #0f1518;
            background-color: $light;

            &::before {
                content: "";
                display: block;
                border-left: 6px solid $light;
                border-bottom: 4px solid $light;
                border-top: 7px solid transparent;
                border-right: 5px solid transparent;
                position: absolute;
                left: auto;
                right: -5px;
                bottom: 0px;
            }
        }
    }
}

.user {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 9px;
    color: white;
    cursor: pointer;
    transition: all 300ms ease;

    &:hover {
        background-color: #fff1;
    }

    &.selected {
        background-color: $darkest;
    }

    &.dense {
        padding: 9px 5px;

        .avatar {
            img {
                width: 30px;
                height: 30px;
            }
        }
    }

    &.online {
        .avatar {
            border: 2px solid #3f4;
            border-radius: 50%;
        }
    }

    .avatar {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
        margin-right: 6px;

        img {
            width: 45px;
            height: 45px;
            border-radius: 50%;
            object-fit: cover;
        }
    }

    .textContainer {
        flex: 1;
        display: flex;
        flex-direction: column;

        .name {
            font-weight: bold;
            font-size: 16px;
            margin-bottom: 3px;
        }
        .lastMessage {
            font-size: 13px;
        }
    }
}

.user-loader {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 9px;
    color: white;
    cursor: pointer;
    transition: all 300ms ease;

    &:hover {
        background-color: #fff1;
    }

    .avatar {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
        margin-right: 6px;

        .img-loader {
            display: block;
            height: 45px;
            width: 45px;
            border-radius: 50%;

            animation: loadingSkeleton 2s linear infinite;
            animation-direction: alternate;
        }
    }

    .textContainer {
        flex: 1;
        display: flex;
        flex-direction: column;

        .name {
            height: 10px;
            width: 150px;
            display: block;
            border-radius: 15px;
            margin-bottom: 10px;

            animation: loadingSkeleton 2s linear infinite;
            animation-direction: alternate;
        }
        .lastMessage {
            height: 8px;
            width: 100%;
            display: block;
            border-radius: 15px;

            animation: loadingSkeleton 2s linear infinite;
            animation-direction: alternate;
        }
    }
}

@keyframes loadingSkeleton {
    0% {
        background: $darker;
    }

    100% {
        background: $darkest;
    }
}

@keyframes fadeInBottom {
    from {
        opacity: 0;
        top: 200px;
    }
    to {
        top: 70px;
        opacity: 1;
    }
}
