.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

button {
    font-size: calc(10px + 2vmin);
}
.container {
    display: flex;
    flex-direction: row;
}

.container > div {
    flex: 1;
    overflow-y: auto;
}

.usercard {
    display: flex;
    align-items: center;
}

.usercard img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 100%;
    margin-right: 8px;
}

.msg-container {
    display: flex;
    flex-direction: column;
    overflow: auto;
    align-items: flex-start;
}

.message {
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.message img {
    object-fit: cover;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin-right: 10px;
}

.message span {
    text-align: left;
    background-color: #2196f3;
    color: white;
    padding: 10px 15px;
    border-radius: 5px 5px 5px 0;
}

.message.private span {
    background-color: #282c34;
}

.message.mine {
    align-self: flex-end;
    flex-direction: row-reverse;
}

.message.mine img {
    margin-left: 10px;
}

.message.mine span {
    border-radius: 5px 5px 0 5px;
    background-color: #282c34;
}
